{% extends "HealthCentre/layout.html" %}

{% block title %}
SIT Tumakuru Health Centre
{% endblock%}


{% block bodytag %}

  {% load static %}
  <!-- <body></body> -->
  <body background="{% static 'HealthCentre/images/bg.png' %}" style="background-size: auto auto;">
{% endblock %}

{% block body %}

    <br>

    <h1 style="text-align:center;color:red" class = "display-4">
        EMERGENCY

        <li class="dropdown-divider" style="margin-left:25%;margin-right:25%;border-color:red"></li>

        <p class="lead">
            Either choose location from dropdown or type in text.
            <br>
            NO LOGIN REQUIRED
        </p>

    </h1>

    {% if message %}
        <div style="text-align:center;margin:0 auto;"class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <hr>

    <div class="container center_div" align ="center" width="300px">
        <form align="center" action = "{% url 'emergency' %}" method = "post">
            {% csrf_token %}

            <br>

            <div class="form-group">
                <select class="form-control" name="emergencyLocation">
                    <option>Akkamahadevi Block</option>
                    <option>Allamaprabhu Block</option>
                    <option>Architecture Block </option>
                    <option>Basaveshwara Block</option>
                    <option>BasketBall Court  </option>
                    <option>Birla Audotorium     </option>
                    <option>Biotechnology & Chemical Block        </option>
                    <option>Canteen             </option>
                    <option>Chemistry Block     </option>
                    <option>Civil Block        </option>
                    <option>Cricket Ground    </option>
                    <option>CSE Block          </option>
                    <option>ECE Block          </option>
                    <option>EEE Block          </option>
                    <option>EIE Block          </option>
                    <option>ETE Block          </option>
                    <option>Ganga Hostel        </option>
                    <option>IEM Block          </option>
                    <option>Library          </option>
                    <option>MBA Block         </option>
                    <option>MCA Block           </option>
                    <option>Matematics Block    </option>
                    <option>ME Building         </option> 
                    <option>Matematics Block    </option> 
                    <option>Mahatma Gandhi Block</option>
                    <option>Lalbahadur Shastri Block</option>
                    <option>VolleyBall Court  </option>
                </select>
            </div>

        <br>

        <button type="submit" class="btn btn-warning btn-lg" >CALL AMBULANCE</button>

        </form>
    </div>

    <hr>

    <div class="container center_div" align ="center" width="300px">
        <form align="center" action = "{% url 'emergency' %}" method = "post">
            {% csrf_token %}

            <br>

            <div class="form-group">

                <br>
                <div class="form-row">
                    <div class="col-12">
                        <input name="emergencyLocation" type="text" class="form-control" placeholder="Otherwise type location here.">
                    </div>
                </div>
                <br>

            </div>

            <br>
            <button type="submit" class="btn btn-warning btn-lg" >CALL AMBULANCE</button>
        </form>
    </div>

    <hr>

    <br>


{% endblock %}
